fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-dotenv

sqlalchemy
psycopg2-binary
pgvector

celery
redis

opencv-python
numpy

ultralytics

sentence-transformers

openai

streamlit
requests
python-multipart
opencv-python

celery
redis